@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-ligth-bg: #e4e4e7;
  --secondary-light-bg: #ffffff;
  --light-txt: #3f3f46;
  --primary-dark-bg: #000000;
  --secondary-dark-bg: #27272a;
  --dark-txt: #d4d4d8;
  --primary-btn-color: #1e40af;
  --primary-btn-color-hover: #1d4ed8;
  --secondary-btn-color: #991b1b;
  --secondary-btn-color-hover: #b91c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-dark-bg: #000000;
  }
}

body {
  overflow-x: hidden;
  background: var(--primary-dark-bg);
}

body.light {
  @apply bg-primaryLightBG text-black;
}

body.dark {
  @apply bg-primaryDarkBG text-white;
}
